.container {
    display: flex;
    gap: 10px;

    border: 1px solid #ccc;
    padding: 5px;
    /*margin-bottom: 10px;*/
}

.imgItem {
    width: 20px;
    margin-bottom: 10px;
  }

.short {
    width: 20px;
}

.long {
    width: 250px;
}

.containerTable {
    display: flex;
    gap: 10px;
    background-color: cadetblue;
}

.containerTable > div {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.containerMenu {
    display: flex;
    gap: 10px;
    /*background-color: cadetblue;*/
}