.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.MuiFormControlRoot {
    margin-bottom: 15px;
}

.button {
    margin-top: 15px;
}

.ModalForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ModalForm > div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menuMark {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    background-color: lightgrey;
    border-radius: 25px;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.menuMark:hover {
    background-color: gray;
}
