.header {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 999;
    padding-bottom: 10px;
    padding-top: 10px;
}

.gridHeader {
    display: grid;
    justify-content: space-around;
    align-items: center;
    position: relative;

    grid-template-areas:
  "menuLine";

    /*grid-template-rows: auto;*/
    /*grid-template-columns: 150px 150px auto auto auto auto auto auto;*/
    /*!*grid-gap: 40px;*!*/
}

.logo {
    height: 8vh;
    grid-area: logo;
}

.menuSandwich {
    grid-area: menuSandwich;
}

.menuLine {
    grid-area: menuLine;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*width: 200%;*/
    list-style-type: none;
    /*margin-top: 50px;*/
}

.menuLine div {
    flex: 1;
    text-align: center;
}

.menuLine div a {

}

.menuItem {
    /*margin-top: 20px;*/
    width: 160px;
}

.menuNavlink {
    /*margin-top: 20px;*/
    color: black;
    text-decoration: none;
    font-size: 20px;
    /*background-color: lightgrey;*/
    margin-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.menuNavlink:hover {
    /*margin-top: 20px;*/
    /*padding-bottom: 11px;*/
    /*color: gold;*/

    display: inline-block;
    background-color: lightgrey;
    border-radius: 25px;
    /*width: 150px;*/
}
